.page {
    padding: 20px;
    background: #f4f6f9;
    min-height: 100vh;
  }

  

  .toolbar {
    text-align: right;
    margin-bottom: 15px;
  }

  .btn {
    background: #2563eb;
    color: rgb(248, 245, 245);
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
  }

  .invoice {
    background:white;
    padding: 20px;
    border-radius: 10px;
    max-width: 900px;
    margin: auto;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  }

  .header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
  }

  .item-header{
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
    padding: 10px 0;



  }
.item-row{
    padding: 10px 0;
  border-bottom: 1px dashed #ccc;


}

.header ,.item-header, .item-row{
    display: flex;
    justify-content: space-between;
    gap:10px;
}

.total {
    text-align: right;
    margin-top: 20px;
  }
   @media (max-width: 768px) {
    .header {
      flex-direction: column;
      text-align: left;
    }
  
    .item-header, .item-row {
      font-size: 13px;
    }
  } 
   

  

  